body {
    font-family: Roboto , sans-serif;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px 25% 50px 25%;
    flex: 1;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hb-text {
    display: flex;
    flex-direction: column;
}

.hb-text .hb-main {
    font-size: 48px;
}

li , .hb-text .hb-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hb-secondary {
    margin-bottom: 10px;
    max-width: 500px;
}


ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
}

button {
    box-sizing: border-box;
    width: 100px;
    padding: 5px;
    border-radius: 8px;
    border-width: 0;
    background-color: #3882F6;
    color: inherit;
}

.info {
    padding: 50px 30% 50px 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 50px;
}

.info-header {
    font-size: 30px;
    font-weight: bold;
}

.info-elements {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.element div {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 8px;
}

.quote {
    padding: 50px 30% 50px 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    flex: 1;
}

.quote-text {
    text-align: start;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-origin {
    align-self: flex-end;
    font-weight: bold;
}

.actioncall{
    padding: 50px 25% 50px 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #F9FAF8;
}

.call-box {
    display: flex;
    box-sizing: border-box;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 5% 15%;
    gap: 50px;
}

.call-text {
    display: flex;
    flex-direction: column;
}

.call-box button {
    border-color: #F9FAF8;
    border-width: 3px;
}

.footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}